#services {
  padding: 2rem;
  background: #222; /* Slightly lighter dark background */
  color: #fff; /* White text */
  text-align: center;
}

#services h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#services ul {
  list-style: none;
  padding: 0;
}

#services ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
